# Set SELinux to Permissive
on early-init
    write /sys/fs/selinux/enforce 0

on init
    mkdir /dev/binderfs
    mount binder binder /dev/binderfs stats=global
    chmod 0755 /dev/binderfs
    symlink /dev/binderfs/binder /dev/binder
    chmod 0666 /dev/binderfs/binder
    start hwservicemanager
    start vendor.boot-hal-default

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

    # Make ADSP load from /firmware
    write /proc/sys/kernel/firmware_config/force_sysfs_fallback 1

    # Mount firmware - Needed for ADSP firmwares
    mkdir /firmware
    mount vfat /dev/block/by-name/modem${ro.boot.slot_suffix} /firmware ro

    # Mount persist - Needed for haptics
    # We want to load this BEFORE "twrp.modules.loaded=true"
    mkdir /mnt/vendor/persist/
    mount ext4 /dev/block/bootdevice/by-name/persist /mnt/vendor/persist/ ro

on property:twrp.modules.loaded=true
    # Load ADSP firmware for PMIC
    wait /sys/kernel/boot_adsp/boot
    write /sys/kernel/boot_adsp/boot 1
    wait /sys/class/power_supply/battery
    start vendor.health-default

on boot
    setprop sys.usb.config adb

